<% include partials/header %>

<div class = "container">
    <header class ="jumbotron">
        <div>
<h1>Welcome to myPodNetwork!</h1>
<p>View all of our cool podcasts</p>
 <p>
    <a class ="btn btn-primary btn-lg" href ="/podcasts/new">Add new podcast</a>
 </p>
</div>
</header>

<div class ="row" style= "display:flex; flex-wrap:wrap;">
<% podcasts.forEach(function(podcast){ %>
    <div class = "col-md-3 col-sm-6" > 
        <div class = "thumbnail">
                <img src= "<%= podcast.image %>">
            <div class ="caption">
                <h4><%= podcast.name %> </h4>
            </div>
            <p> <%= podcast.description %> </p>
        </div>
    </div>
<% }); %>
    
</div>
</div>

<% include partials/footer %>